<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId"></agm-map>
<section class="contact spad mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Informacion</span>
                        <h2>Contactanos</h2>
                        <p>Para cualquier aclaracion nos pueden mandar un correo electronico</p>
                    </div>
                    <ul>
                        <li>
                            <h4>Tacuba</h4>
                            <p>Mar Tirreno 44, Popotla, Miguel Hidalgo, 11400 Ciudad de México, CDMX<br />+43 982-314-0958</p>
                        </li>
                        <li>
                            <h4>Colonia San Rafael</h4>
                            <p>Serapio Rendon 73-B, San Rafael, Cuauhtémoc, 06470 Ciudad de México, CDMX<br />+12 345-423-9893</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact__form">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-md-12 text-center">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="site-btn">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Site footer -->
<app-footer></app-footer>