img {
    width: 100%;
}

.card-container {
    display: flex;
    margin-top: 15px;
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
}

.header {
    border-radius: 1 solid #ddd;
    background-color: cyan;
}

.descripcion {
    background: #fbfbfb;
}

.header,
.descripcion {
    padding: 20px;
    text-align: center;
}

.header a {
    position: relative;
    display: block;
}

.header img {
    margin: 20px 30px;
}

.header h2 {
    color: rosybrown;
}

.header h4 {
    margin-bottom: 20px;
}

.descripcion {
    position: relative;
}

.descripcion p {
    margin: 20px 30px;
    font-size: 20px;
}

@media (max-width:640px) {
    .card-container {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .header {
        padding: 20px 20px 5px 20px;
        border: none;
    }
    .descripcion {
        padding: 5px 20px 20px 20px;
        background: transparent;
    }
    .header h4 {
        margin: 0;
    }
}

@media (min-width:1024px) {
    .card-container {
        display: flex;
        justify-content: center;
        width: 260px;
        height: auto;
        background: #fff;
    }
    .header img {
        padding: 20px 20px 5px 20px;
    }
}