<div class="container">
    <div class="row">
        <div class="col-11 col-md-6 mx-auto p-4 m-5 border-light shadow-sm">
            <h3 class="pb-3 text-center">Registro</h3>
            <div class="form-style">
                <form class="validate.form" #f="ngForm" (ngSubmit)=Registro(f)>
                    <div class="form-group pb-3">
                        <input type="text" placeholder="Nombre" class="form-control" name="txtnombre" id="txtnombre">
                    </div>
                    <div class="form-group pb-3">
                        <input type="email" name="txtemail" placeholder="Email" class="form-control" aria-describedby="emailHelp" id="txtemail" required email>
                    </div>
                    <div class="form-group pb-3">
                        <input type="password" placeholder="Password" class="form-control" name="txtpassword" required minlength="3" id="txtcontra">
                    </div>
                    <div class="pb-2">
                        <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>